* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d1f53;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-menu {
  display: flex;
  justify-content: space-around;
  font-family: "Red Hat Display", sans-serif;
}

.menu-item {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 30px;
  font-family: "Red Hat Display", sans-serif;
  color: #ddd9e8;
}

.menu-item:hover {
  text-decoration: underline;
  color: #ca9ec3;
}

.main {
  display: flex;
  justify-content: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 130px;
  width: 900px;
}

.main-greeting {
  color: black;
  font-size: 90px;
  font-weight: bold;
  font-family: "Red Hat Display", sans-serif;
  color: #ddd9e8;
  text-align: center;
}

.name {
  text-decoration: none;
  color: #ca9ec3;
}

.greeting {
  color: black;
  font-size: 30px;
  padding: 10px 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: Medium 500;
  color: #ddd9e8;
  text-align: center;
}

.connect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.connect {
  font-family: "Merienda", cursive;
  font-size: 20px;
  font-weight: bold;
  color: #ddd9e8;
  margin-bottom: 20px;
}

.connect-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.connect-item {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  font-family: "Merienda", cursive;
  padding: 0 30px;
  color: #ca9ec3;
}

.connect-item:hover {
  text-decoration: underline;
  color: #ddd9e8;
}

.headers {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  font-size: 60px;
  color: oldlace;
  text-align: left;
  margin: 10px 0;
}

.about-me-container {
  padding-top: 50px;
  width: 900px;
}

.profile-image {
  border-radius: 20px;
  height: 250px;
  width: 50%;
  object-fit: cover;
  object-position: 25% 25%;
  margin: 25px 0;
}

.about-me {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #ddd9e8;
  padding-bottom: 40px;
  font-size: 23px;
}

.tech-container {
  padding-top: 50px;
  width: 900px;
}

.education-container {
  margin-bottom: 50px;
}

.skills-container {
  margin-bottom: 50px;
}

.project-container {
  margin-bottom: 50px;
}

.education {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #ddd9e8;
  font-size: 23px;
}

.school {
  font-weight: bold;
}

.edu-duration {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #ddd9e8;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.skills {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #ddd9e8;
  font-size: 23px;
}

.project-name {
  font-family: "Red Hat Display", sans-serif;
  font-weight: bold;
  color: #ddd9e8;
  font-size: 30px;
}

.project-institution {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 100;
  font-style: italic;
  color: #ddd9e8;
  font-size: 25px;
  margin-bottom: 8px;
}

li {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: #ddd9e8;
  font-size: 23px;
}
